@using (Html.BeginForm())

{

    @Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger"})

    <div class="row">

        @*<div class="col-md-12">

            <div class="form-group">
                @Html.LabelFor()
                @Html.TextBoxFor()
            </div>

            <div class="form-group">
                @Html.LabelFor()
                @Html.DropDownListFor()
            </div>

            <div class="form-group">
                @Html.LabelFor()
                @Html.DropDownListFor()
            </div>

            <div class="form-group">
                @Html.LabelFor()
                <div>
                    <label class="radio-inline">
                        @Html.RadioButtonFor()
                    </label>

                    <label class="radio-inline">
                        @Html.RadioButtonFor()
                    </label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor()
                @Html.DropDownListFor()
            </div>

            <div class="form-group">
                @Html.LabelFor()
                @Html.DropDownListFor()
            </div>

            <div class="form-group">
                @Html.LabelFor()
                <div>
                    <label class="radio-inline">
                        @Html.RadioButtonFor()
                    </label>

                    <label class="radio-inline">
                        @Html.RadioButtonFor()
                    </label>
                </div>
            </div>

        </div>*@





    </div>



}